{% extends 'home/layout.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}">
{% endblock %}

{% block title %}LibriumSwap{% endblock %}

{% block body %}
<div class="container">
	<div class="topbar-container">
		<div class="profile">
			<img src="{{ request.user.profile_image.url }}">
			<p>{{ request.user.username }}</p>
		</div>
			<div class="contact-bar">
				{% for selected_contact_detail in selected_contact_details %}
				<img class="top-bar-contact-img" src="{{ selected_contact_detail.profile_image.url }}">
				<p class="top-bar-contact-name">{{ selected_contact_detail.username }}</p>
				{% endfor %}
			</div>
	</div>
	<div class="container-panel">
		<div class="sidepanel">
			<div class="search">
				<input class="input-search" type="text" name="contact-name">
				<button class="search-btn" type="submit"><i class="bi bi-search"></i></button>
			</div>
			<div class="contacts">
				
				{% for contact_detail in contacts_details %}
				<div class="contact">
					<a href="{% url 'room' contact_detail.0 %}">
						<div class="contact-container">
							<img src="{{ contact_detail.1 }}">
							<div class="wrap">
								<p class="contact-name">{{ contact_detail.0 }}</p>
								<p class="message_preview">{{ contact_detail.2 }}</p>
							</div>
						</div>
					</a>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="content"><style type="text/css">.content{background: url("{% static 'images/fundo.png' %}"); background-size: 50%;}</style>




{% block rightbar %}{% endblock %}

<link rel="stylesheet" type="text/javascript" href="{% static 'js/chat.js' %}">
<script src="https://kit.fontawesome.com/aff34599fe.js" crossorigin="anonymous"></script>
{% block js %}{% endblock %}

{% endblock %}