{% extends 'home/layout.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'js/chat.js' %}">
{% endblock %}

{% block body %}
<div class="container">
	<div class="sidepanel">
		<div class="profile">
			<img src="http://emilcarlsson.se/assets/mikeross.png">
			<p>{{ username }}</p>
			<div class="dropdown-status-options">
				<ul>
					<li>Online</li>
					<li>Offline</li>
				</ul>
			</div>
		</div>
		<div class="search">
			<input class="input-search" type="text" name="contact-name">
			<button class="search-btn" type="submit"><i class="bi bi-search"></i></button>
		</div>
		<div class="contacts">
			{% for query in querys %}
				{% for contact in query.contacts.all %}
				<div class="contact">
					<a href="{% url 'room' contact %}"><div class="contact-container">
						<img src="http://emilcarlsson.se/assets/harveyspecter.png">
						<div class="wrap">
							<p class="name">{{ contact }}</p>
							<p class="message">Preview Message</p>
						</div>
					</div></a>
				</div>
				{% endfor %}
			{% endfor %}
		</div>
		<div class="bottom-bar">
			
		</div>
	</div>
	{% block rightbar %}{% endblock %}

<link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}">
{% block js %}{% endblock %}

{% endblock %}