{% extends 'chat/chat.html' %}
{% load static %}

{% block rightbar %}
<div class="content">
		<!--<div class="contact-profile">
			<img src="http://emilcarlsson.se/assets/harveyspecter.png">
			<p>Contact Name</p>
		</div>-->
		<div class="messages"><style type="text/css">.messages{background: url("{% static 'images/fundo.png '%}"); background-size: 50%;}</style>
			<ul class="chat-log">
				{% comment %}<li class="sent">
					<p>Hello, how are you?</p>
				</li>
				<li class="reply">>
					<p>I'm fine, thanks!</p>
				</li>{% endcomment %}
			</ul>
		</div>
		<div class="message-input">
			<input class="chat-message-input" type="text" placeholder="Write your message...">
			<button class="chat-message-submit"type="submit"><img src="{% static 'images/send.png' %}"></i></button>
		</div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/reconnecting-websocket.js'%}"></script>
<script>
	var other_username = "{{ other_username }}";
	var username = {{ username }};
	const chatSocket = new ReconnectingWebSocket(
        'ws://'
        + window.location.host
        + '/ws'
        + window.location.pathname
    );
    chatSocket.onopen = function(e){
    	fetchMessages();
        getOtherUser();
    }

    chatSocket.onmessage = function(e){
        var data = JSON.parse(e.data)
        if(data['command'] === 'messages'){
            for (let i = 0; i < data['messages'].length; i++) {
                createMessage(data['messages'][i]);
            }
        }
        else if (data['command'] === 'new_message' ){
            createMessage(data['message']);
        }
    }

    chatSocket.onclose = function(e){
    	console.log("Connection is closed");
    }

    chatSocket.onerror = function(e){
    	console.error('Chat socket closed unexpectedly');
    }

    document.querySelector('.chat-message-input').focus();
    document.querySelector('.chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('.chat-message-submit').click();
        }
    };

    document.querySelector('.chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('.chat-message-input');
        if (messageInputDom.value != ''){
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'command': 'new_message',
                'from': username,
            }));
            messageInputDom.value = '';
            console.log(messageInputDom);
        }
    };

    function fetchMessages(){
        chatSocket.send(JSON.stringify({'command': 'fetch_messages'}));
    }

    function createMessage(data){
        var author = data.author;
        var msgListTag = document.createElement('li');
        var pTag = document.createElement('p');
        pTag.textContent = data.content;
        if (author==username){
            msgListTag.className = 'reply';
            msgListTag.appendChild(pTag);
        }
        else{
            msgListTag.className = 'sent';
            msgListTag.appendChild(pTag);
        }

        document.querySelector('.chat-log').appendChild(msgListTag);
    }

    function getOtherUser(){
        var name = document.getElementsByClassName('name');
    }

</script>
{% endblock %}
