{% extends 'registration/password_reset_form.html' %}

{% block title %}Resetar senha{% endblock %}

{% block body %}
	<div id="icone">
		<i class="bi bi-key"></i>
	</div>
	<h1>Nova senha</h1>
	<p>Por favor insira uma nova senha:</p>
		<form method="POST">
		{% csrf_token %}
			<div class="col-3 input-effect" id="input-email">
	        	<input name="new_password1" class="effect-16" type="password" placeholder="">
	            <label>Senha</label>
	            <span class="focus-border"></span>
	        </div>
			<ul>
				<li>Sua senha não pode ser muito similar com suas informações pessoais.</li>
				<li>Sua senha precisa ter pelo menos 8 caracteres.</li>
				<li>Sua senha não pode ser uma senha comumente usada.</li>
				<li>Sua senha não pode ser totalmente numérica.</li>
			</ul>
			<div class="col-3 input-effect" id="input-email">
	        	<input name="new_password2" class="effect-16" type="password" placeholder="">
	            <label>Confirmar senha</label>
	            <span class="focus-border"></span>
	        </div>    
			<button class="btn" type="submit">Resetar senha</button>
	</form>
{% endblock %}