{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}Esqueceu sua senha?{% endblock %}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800;900&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static 'css/password_reset.css' %}">
		<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
		<script src="{% static 'js/input_effect.js' %}"></script>
		<title>LibriumSwipe</title>
		<link rel="icon" type="image/png" href="{% static 'images/logomarca.svg' %}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="HandheldFriendly" content="true">
	</head>
	<body>
		<div class="fundo">
			<img src="{% static 'images/logo.png' %}">
		</div>
		<div class="formulario">
			{% block body %}
			<h1>Esqueceu sua senha?</h1>
			<p>Insira seu email abaixo e nós enviaremos instruções para criar uma nova senha.</p>

			<form method="POST">
				{% csrf_token %}
				<div class="col-3 input-effect" id="input-email">
		        	<input name="email" class="effect-16" type="email" placeholder="">
		            <label>Email</label>
		            <span class="focus-border"></span>
		        </div>
				<button class="btn" type="submit">Enviar email</button>
			</form>
			{% endblock %}
		</div>
	</body>
</html>