{% extends 'registration/password_reset_form.html' %}

{% block title %}Resetar senha{% endblock %}

{% block body %}
	<h1>Nova senha</h1>
	<p>Por favor insira uma nova senha:</p>
		<form method="POST">
		{% csrf_token %}
			<p>
				<label for="{{ form.new_password1.id_for_label }}">Senha</label>
				{{ form.new_password1 }}
				<ul>
					<li>Sua senha não pode ser muito similar com suas informações pessoais.</li>
					<li>Sua senha precisa ter pelo menos 8 caracteres.</li>
					<li>Sua senha não pode ser uma senha comumente usada.</li>
					<li>Sua senha não pode ser totalmente numérica.</li>
				</ul>
			</p>
			<p>
				<label for="{{ form.new_password2.id_for_label }}">Confirmar senha</label>
				{{ form.new_password2 }}
			</p>     
			<button class="btn" type="submit">Resetar senha</button>
	</form>
{% endblock %}