{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}Esqueceu sua senha?{% endblock %}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800;900&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static 'css/password_reset.css' %}">
		<title>LibriumSwipe</title>
		<link rel="icon" type="image/png" href="{% static 'images/logomarca.svg' %}">
	</head>
	<body>
		<div class="fundo">
			<img src="{% static 'images/logo.png' %}">
		</div>
		<div class="formulario">
			{% block body %}
			<h1>Esqueceu sua senha?</h1>
			<p>Insira seu email abaixo e nós enviaremos instruções para criar uma nova senha.</p>

			<form method="POST">
				{% csrf_token %}
				{{ form.as_p }}
				<button class="btn" type="submit">Enviar email</button>
			</form>
			{% endblock %}
		</div>
	</body>
</html>