body{
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.nav-2{
  display: none;
}

/* DROPDOWN STATUS */
.dropdown-status-options{
  display: none;
}


.container-panel p{
  margin: 0;
}
.container-panel{
  display: flex;
  width: 100%;
  height: 80%;
}

.sidepanel{
  height: 100%;
  background: #A959DD;
  color: white;
  border-right: 1px solid;
  border-color: black;
  width: 25%;
}

.container{
  height: 99.5vh;
}

.topbar-container{
  padding-top: 1%;
  display: flex;
  background-color: #A959DD;
  height: 10%;
  width: 100%;
}

.profile{
  padding-left: 1%;
  display: flex;
  align-items: center;
  background-color: #CB98EC;
  border: 1px solid;
  border-right: none;
  border-color: black;
  width: 24.9%;
  color: white;
}

.profile img{
  width: 50px;
  margin-right: 15px;

  border-radius: 50%;
  height: auto;
  float: left;
  cursor: pointer;
}

.contact-bar{
  padding-left: 1%;
  align-items: center;
  background-color: #CB98EC;
  display: flex;
  border: 1px solid;
  border-color: black;
  width: 77%;
  color: white;
}

.contact-bar img{
  margin-right: 15px;
  width: 50px;
  border-radius: 50%;
  height: auto;
  float: left;
  cursor: pointer;
}

.search{
  margin-top: 30px; 
  margin-left: 10px;
  height: 40px;


  width: 95%;
  display: flex;
  background: #CB98EC;
  border-radius: 40px;
  align-items: center;
  justify-content: center;
}

.search-btn{
  color: white;
  border-radius: 50%;
  background: #CB98EC;
  float: right;
  margin-left: 5px;
  border: none;
  padding: 0;
}

.input-search{
  width: 90%;
  float: left;
  padding: 0;
  border: none;
  color: white;
  font-size: 14px;
  background: none;
}

.contacts{
  margin-top: 20px;
  display: grid;
}

.contact-container{
  padding-bottom: 15px;
  padding-top: 5px;
  margin-left: 3%;
  display: flex;
  align-items: center;
}

.contact:hover{
  background: black;
}


.content{
  background: white;
  color: black;
  width: 75%;
  height: 100%;
}

.contact img{
  width: 60px;
  margin-right: 10px;

  border-radius: 50%;
  height: auto;
  float: left;
  cursor: pointer;
}

/* Messages chat */

.messages{
  min-height: calc(100% - 8%);
  max-height: calc(100% - 8%);
  overflow-y: scroll;
  overflow-x: hidden;
}

.messages li {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
}

.reply{
  margin-left: 85%;
}

.messages p{
  padding: 10px 10px;
  width: auto;
  height: auto;
  border: 1px solid;
  border-radius: 10px;
  background: #A959DD;
  color: white;
}

.message-input{
  padding-left: 1%;
  height: 8%;
  background-color: #A959DD;
  width: 100%;
  display: flex;
  align-items: center;
}

.chat-message-input{
  color: white;
  padding-left: 1%;
  height: 60%;
  width: 90%;
  border-radius: 20px;
  border: none;
  background-color: #CB98EC;
  outline: none;
  box-shadow: none;
}

.message-input button{
  background-color: #A959DD;
  border: none;
  color: white;
  cursor: pointer;
}

.chat-message-attachment{
  padding-right: 10px;
}

.pesquisa{
  opacity: 0;
}

.chat-message-submit{
  padding-left: 1%;
}

.chat-message-submit img{
  filter: invert(100%);
}