body {
	color: #343434;
}

.titulo {
	display: flex;
	justify-content: center;
}

.titulo h1 {
	color: rgba(0, 0, 0, 0.44);
}

.trocas_recebidas {
	margin-right: 20px;
}

.ativado {
	color: #820AD1 !important;
}

hr {
	width: 80%;
	border-color: rgba(255, 255, 255, 0.44);
	margin-bottom: 30px;
	margin-top: 30px;
}

.trocas {
	width: 100%;
}

.troca {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding-left: 5%;
	padding-right: 5%;
}

.livro_user, .livro_anuncio {
	max-width: 10%;
}

a {
	color: #343434;
	text-decoration: none;
}

.troca i {
	font-size: 30px;
	color: #820AD1;
}

.situacao-troca {
	display: flex;
	justify-content: center;
}

.troca-pendente {
	color: #383d41;
	background-color: #e2e3e5;
	border: 1px solid #d6d8db;
	width: 200px;
	text-align: center;
	padding: 10px 20px;
	border-radius: 5px;
}

.troca-resultado {
	display: flex;
	justify-content: center;
}

.troca-resultado button {
	margin-right: 10px;
	cursor: pointer;
	padding: 8px 30px;
	border-radius: 5px;
}

.troca-resultado .aceitar {
	color: #155724;
	background-color: #d4edda;
	border: 1px solid #c3e6cb;
}

.troca-resultado .recusar {
	color: #721c24;
	background-color: #f8d7da;
	border: 1px solid #f5c6cb;
}

@media screen and (max-width: 660px) {
	.troca-text {
		display: block;
	}
}