body {
	color: #343434;
}

.conteudo {
	padding: 5%;
	display: grid;
}

.anuncio {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.anuncio-conteudo {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.anuncio img {
	width: 200px;
	margin-right: 20px;
}

.anuncio h2 {
	margin-left: auto;
}

.anuncio button {
	background-color: white;
	border: none;
	outline: none;
	cursor: pointer;
	color: #842029;
	background-color: #f8d7da;
	border: 1px solid #f5c2c7;
	border-radius: 5px;
	padding: 10px;
}

.anuncio a {
	color: #343434;
	text-decoration: none;
}

.anuncio h4 {
	margin-top: 50px;
	font-weight: normal;
	color: #A959DD;
	cursor: pointer;
}

hr {
	width: 80%;
	margin-top: 30px;
	margin-bottom: 30px;
	border-color: rgba(255, 255, 255, 0.44);
}

.comprar-carrinho {
	width: 200px;
	padding: 20px;
	margin-left: auto;
	cursor: pointer;
	background-color: #343434;
	font-weight: bold;
	color: #fff;
	border-radius: 5px;
	border: none;
	outline: none;
}

@media screen and (max-width: 660px) {
	.anuncio img {
		width: 100%;
		height: auto;
	}

	.anuncio-conteudo {
		display: block;
	}

	.anuncio-info {
		margin-left: 20px;
	}

	.anuncio h2 {
		font-size: 1.2em;
	}

	.anuncio .preco {
		margin-top: 20px;
		margin-left: 20px;
	}
}