body {
	font-family: 'Inter', sans-serif;
	margin: 0;
	padding: 0;
}

#logomarca {
	max-width: 250px;
}

#logomarca-mobile {
	display: none;
}

#menu-btn {
	display: none;
}

nav {
	padding: 0px 20px 0px 20px;
	background-color: #A959DD;
	display: flex;
	justify-content: center;
}

nav input, nav button, nav a {
	font-weight: bold;
	border: none;
	outline: none;
	color: white;
}

.nav-div {
	max-width: 1610px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.pesquisa {
	min-width: 1px;
	padding: 10px;
	display: flex;
	background-color: #D4AAEF;
	border-radius: 6px;
	flex-grow: 1;
	margin-right: 20px;
}

.pesquisa input {
	min-width: 1px;
	flex-grow: 1;
	background-color: #D4AAEF;
	color: #343434;
	font-size: 14px;
	font-weight: normal;
	border-radius: 6px;
	margin-right: 10px;
	font-family: 'Inter', sans-serif;
}

.pesquisa button {
	margin-left: auto;
	background-color: #D4AAEF;
	color: white;
	border-left: 2px solid white;
}

.menu {
	display: flex;
	align-items: center;
	color: white;
	margin-left: auto;
	font-size: 18px;
	height: 76px;
}

.menu i {
	font-size: 24px;
}

.menu button {
	background-color: #A959DD;
}

.menu-usuario {
	margin-top: 55px;
	margin-right: 10px;
	position: relative;
	height: 100%;
}

.dropdown-usuario {
	border: 1px solid rgba(52, 52, 52, 0.15);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-top: 26px;
	display: none;
	position: absolute;
	left: -120%;
	z-index: 2;
	width: 200px;
}

.dropdown-usuario:hover {
	display: grid;
}

.dropdown-usuario a {
	padding: 12px 16px;
	border-bottom: 1px solid rgba(52, 52, 52, 0.15);
	text-decoration: none;
	font-weight: normal;
	color: #343434;
	background-color: white;
}

.dropdown-usuario:after {
	position: absolute;
	top: -6px;
	left: 68%;
	display: inline-block;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #ffffff;
	border-left: 6px solid transparent;
	content: '';
}

.menu-usuario:hover .dropdown-usuario {
	display: grid;
}

#arrow-usuario::before {
	transform: rotate(0deg);
}

.menu-usuario:hover #arrow-usuario::before {
	transform: rotate(180deg);
}

.btn-icones a, .btn-icones button, .menu-btn{
	margin-left: 10px;
	margin-right: 10px;
}

.dropdown-usuario-mobile {
	margin-top: 0;
	display: none;
	position: absolute;
	top: 71px;
	left: 0;
	width: 100%;
	border: none !important;
	z-index: 3;
}

.dropdown-usuario-mobile::after {
	display: none;
}

.dropdown-usuario-mobile a {
	display: flex;
	color: #343434;
	padding: 12px 25px;
}

.dropdown-usuario-mobile button {
	padding: 12px 25px;
	background-color: white;
	color: #343434;
	font-weight: normal;
	border-bottom: 1px solid rgba(52, 52, 52, 0.15);
	font-size: 16px;
	text-align: left;
	display: flex;
}

.dropdown-usuario-mobile i {
	margin-right: 10px;
}

.dropdown-usuario-mobile a .bi {
	margin-right: 10px;
}

.fa-chevron-right {
	margin-left: auto;
	color: #343434;
}

.nav-2 {
	display: flex;
	color: rgba(52, 52, 52, 0.8);
	justify-content: center;
}

.nav-2 h4 {
	margin-top: 10px;
	border-right: 1px solid rgba(52, 52, 52, 0.8);
	padding: 5px 25px 5px 25px;
	cursor: pointer;
}

.nav-2 h4:last-child {
	border-right: none !important;
}

.nav-2 a {
	color: rgba(52, 52, 52, 0.8);
	text-decoration: none;
}

.div-dropdown {
	position: relative;
}

.dropdown {
	z-index: 3;
	display: none;
	position: absolute;
	top: 75%;
	left: -42%;
	text-decoration: none;
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.dropdown a {
	background-color: white;
	text-decoration: none;
	text-align: center;
	color: #343434;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding: 12px 16px;
	width: 200px;
}

.dropdown a:hover {
	transition: 0.1s;
	background-color: #D1BFDD;
	color: white;
}

.dropdown-categorias {
	left: -30%;
}

@media screen and (max-width: 850px) {
	#logomarca {
		display: none;
	}

	#logomarca-mobile {
		display: block;
		margin-right: 20px;
	}
}

@media screen and (max-width: 660px) {
	.menu {
		display: none;
	}

	.pesquisa {
		margin-right: 0;
	}

	.menu-btn {
		margin-left: 20px;
	}

	.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: .2s ease-in-out;
  -webkit-tap-highlight-color: transparent;
  /* border: 3px solid #fff; */
}
	.menu-btn__burger {
	  width: 20px;
	  height: 2px;
	  background: #fff;
	  border-radius: 5px;
	  box-shadow: 0 2px 5px rgba(255,101,47,0);
	  transition: .2s ease-in-out;
	}
	.menu-btn__burger::before,
	.menu-btn__burger::after {
	  content: '';
	  position: absolute;
	  width: 20px;
	  height: 2px;
	  background: #fff;
	  border-radius: 5px;
	  box-shadow: 0 2px 5px rgba(255,101,47, 0);
	  transition: .2s ease-in-out;
	}
	.menu-btn__burger::before {
	  transform: translateY(-8px);
	}
	.menu-btn__burger::after {
	  transform: translateY(8px);
	}
	/* ANIMATION */
	.menu-btn.open .menu-btn__burger {
	  transform: translateX(-50px);
	  background: transparent;
	  box-shadow: none;
	}

	.menu-btn.open .menu-btn__burger::before {
	  transform: rotate(45deg) translate(35px, -35px);
	}
	.menu-btn.open .menu-btn__burger::after {
	  transform: rotate(-45deg) translate(35px, 35px);
	}

	.nav-2 {
		display: none;
	}

	.dropdown-generos-mobile, .dropdown-categorias-mobile {
		display: none;
		top: 70px;
		left: 0;
		z-index: 3;
		width: 100%;
		border: none;
	}

	.dropdown-generos-mobile a, .dropdown-categorias-mobile a {
		font-weight: normal;
		background-color: white;
		width: 100%;
		padding: 12px 0px 12px 0px;
	}

	.dropdown-generos-mobile button, .dropdown-categorias-mobile button {
		padding: 12px 0px 12px 0px;
		background-color: rgba(0, 0, 0, 0.2);
	}
}