@media screen and (max-width: 926px) {
	#logomarca {
		display: none;
	}

	.formulario {
		margin-right: 0;
		width: 90%;
	}
}

@media screen and (max-width: 425px) {
	svg {
		display: inline-block;
	}

	.conteudo {
		margin-top: 0;
	}

	svg {
		display: block;
	}

	.fundo {
		height: 200px;
		background-color: #A959DD;
		width: 100%;
	}
}