body {
	font-family: 'Inter', sans-serif;
	color: #343434;
	margin: 0;
}

#icone {
	margin-top: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	font-size: 60px;
	color: #A959DD;
}

#icone i {
	background-color: #F6F6F6;
	padding: 10px 15px 10px 15px;
	border-radius: 9px;
}

.fundo {
	background-color: #A959DD;
	height: 300px;
	position: relative;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.formulario {
	width: 400px;
	min-height: 350px;
	max-height: 600px;
	border-radius: 8px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
	background-color: white;
	padding: 50px;
	z-index: 1;
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%);
}

.formulario h1 {
	margin-top: 20px;
}

.div-btn {
	display: flex;
	padding-top: 20px;
}

.btn {
	text-align: center;
	background-color: #343434;
	color: white;
	border-radius: 7px;
	border: none;
	font-weight: bold;
	padding: 15px;
	cursor: pointer;
	width: 100%;
	text-decoration: none;
}

:focus {
	outline: none;
}

.col-3{
	position: relative;
	margin-bottom: 30px;
}

input[type="email"], input[type="password"] {
	font: 15px/24px "Inter", "Inter", sans-serif; 
	color: #343434; width: 100%; 
	box-sizing: border-box; 
	letter-spacing: 1px;
	width: 100%;
}

.effect-16 {
	border: 0; 
	padding: 4px 0; 
	border-bottom: 1px solid rgba(52, 52, 52, 0.5); 
	background-color: transparent;}

.effect-16 ~ .focus-border {
	position: absolute; 
	bottom: 0; 
	left: 0; 
	width: 0; 
	height: 2px; 
	background-color: #A959DD; 
	transition: 0.4s;}

.effect-16:focus ~ .focus-border,
.has-content.effect-16 ~ .focus-border {
	width: 100%; 
	transition: 0.4s;}

.effect-16 ~ label {
	position: absolute; 
	left: 0; 
	width: 100%; 
	top: 9px; 
	color: rgba(52, 52, 52, 0.5); 
	transition: 0.3s; 
	z-index: -1; 
	letter-spacing: 0.5px;}

.effect-16:focus ~ label, .has-content.effect-16 ~ label{
	top: -16px; 
	font-size: 12px; 
	color: #A959DD; 
	transition: 0.3s;}