{% extends "home/layout.html" %}

{% load static %}

{% block title %}Pagamento{% endblock %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/pagamento.css' %}">
{% endblock %}

{% block body %}
	<div class="conteudo">
		<div class="checkout-produtos" data-id={{ preference_id }}>
			<h3>Detalhes da compra</h3>
			{% for anuncio in anuncios %}
				<div class="produto">
					<img src="{{ anuncio.imagens.first.imagem.url }}" width="50px">
					<p>1x {{ anuncio.titulo }}</p>
					<p class="preco">R${{ anuncio.preco }}</p>
				</div>
			{% endfor %}
			<hr>
			<div class="produto-preco">
				<b>Total:</b>
				<b class="preco">R${{ total.preco__sum }}</b>
			</div>
		</div>
	</div>

	<script src="https://sdk.mercadopago.com/js/v2"></script>

	<script>
	// Adicione as credenciais do SDK
	  const mp = new MercadoPago('TEST-595f9314-7363-4edc-92ba-cb0edfffa2f8', {
	        locale: 'pt-BR'
	  });

	  let id = document.querySelector('.checkout-produtos').dataset.id

	  // Inicialize o checkout
	  mp.checkout({
	      preference: {
	          id: id
	      },
	      render: {
	            container: '.checkout-produtos', // Indique o nome da class onde será exibido o botão de pagamento
	            label: 'Ir para pagamento', // Muda o texto do botão de pagamento (opcional)
	      },
	      theme: {
		        elementsColor: '#a959dd',
		        headerColor: '#a959dd',
		    }
	});
	</script>

{% endblock %}