{% extends "home/layout.html" %}

{% load static %}

{% block title %}Pagamento{% endblock %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/pagamento.css' %}">
{% endblock %}

{% block body %}
	<div class="conteudo">
		<h1>{{ pedido.anuncio.first.titulo }}</h1>
		<form id="form-checkout" method="POST">
			<div class="col-3 input-effect">
		    	<input class="effect-19" type="text" name="cardNumber" id="form-checkout__cardNumber" />
		        <label>Número do cartão</label>
		        <span class="focus-border">
		        	<i></i>
		        </span>
		    </div>
		    <div class="data">
			    <div class="col-3 input-effect">
			    	<input class="effect-19" type="text" name="cardExpirationMonth" id="form-checkout__cardExpirationMonth" />
			        <label>Mês de vencimento</label>
			        <span class="focus-border">
			        	<i></i>
			        </span>
			    </div>
			    <div class="col-3 input-effect">
			    	<input class="effect-19" type="text" name="cardExpirationYear" id="form-checkout__cardExpirationYear" />
			        <label>Ano de vencimento</label>
			        <span class="focus-border">
			        	<i></i>
			        </span>
			    </div>
			    <div class="col-3 input-effect">
			    	<input class="effect-19" type="text" name="securityCode" id="form-checkout__securityCode" />
			        <label>Código de segurança</label>
			        <span class="focus-border">
			        	<i></i>
			        </span>
			    </div>
			</div>
		    <div class="col-3 input-effect">
		    	<input class="effect-19" type="text" name="cardholderName" id="form-checkout__cardholderName"/>
		        <label>Titular do cartão</label>
		        <span class="focus-border">
		        	<i></i>
		        </span>
		    </div>
		    <div class="col-3 input-effect">
		    	<input class="effect-19" type="email" name="cardholderEmail" id="form-checkout__cardholderEmail"/>
		        <label>E-mail</label>
		        <span class="focus-border">
		        	<i></i>
		        </span>
		    </div>

			
			<select name="issuer" id="form-checkout__issuer"></select>
			<select name="identificationType" id="form-checkout__identificationType"></select>
			<div class="col-3 input-effect">
		    	<input class="effect-19" type="text" name="identificationNumber" id="form-checkout__identificationNumber"/>
		        <label>Número do documento</label>
		        <span class="focus-border">
		        	<i></i>
		        </span>
		    </div>
			<select name="installments" id="form-checkout__installments"></select>
			<button type="submit" id="form-checkout__submit">Pagar</button>
		</form>

		<script src="https://unpkg.com/imask"></script>
		<script src="https://sdk.mercadopago.com/js/v2"></script>
		<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
		<script type="text/javascript" src="{% static 'js/pagamento.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/efeito.js' %}"></script>
	</div>
{% endblock %}