.notifications-container{
	width: 90%;
}

.message-container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid grey;
}

.h2-title{
	padding-top: 4%;
	margin: 0;
}