.payment-container{
	width: 80%;
}

.credit-cards{
	display: flex;
	flex-direction: column;
}

.h2-title{
	border-bottom: 1px solid grey;
}

.credit-card-field{
	display: flex;
	align-items: center;
	border-bottom: 1px solid grey;
	padding-bottom: 5%;
}

.credit-card-number{
	padding-left: 5%;
}

.credit-card-number button{
	padding: 5px 10px;
	border-radius: 5px;
	border: none;
	color: white;
	background-color: #A959DD;
	cursor: pointer;
	font-size: 14px;
}

.add-credit-card{
	margin-top: 5%;
	cursor: pointer;
}

.add-credit-card a{
	color: #A959DD;
	text-decoration: none;
}

.add-credit-card-container{
	display: flex;
	justify-content: center;
}