.privacity-container{
	width: 90%;
}

.delete-account{
	display: flex;
	flex-direction: column;
}

.container-p-delete{
	border-bottom: 1px solid grey;
}

.p-delete{
	color: #820AD1;
	cursor: pointer;
}
