@media screen and (max-width: 3840px) {
	body {
		font-size: 1.5vw;
		line-height: 1;
	}

	h1 {
		font-size: 3vw;
	}

	p {
		line-height: 1.1 !important;
	}
}

@media screen and (max-width: 768px) {
	body {
		font-size: 3.5vw;
	}

	nav {
		padding: 0;
	}

	nav img {
		width: 100%;
	}

	.btn-login {
		display: none;
	}

	.apresentacao-fundo {
		background-color: #A959DD;
	}

	.apresentacao {
		color: white;
		flex-direction: column-reverse;
		flex-wrap: wrap;
		padding: 30px;
		background-color: ;
	}

	.apresentacao h1{
		font-size: 28px;
		color: white;
		text-align: center;
	}

	.apresentacao-texo {
		display: block;
	}

	.apresentacao p {
		text-align: center;
	}

	.apresentacao img {
		width: 80%;
	}

	.apresentacao-btn {
		display: grid;
		width: 100%;
	}

	.apresentacao-btn p {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.btn-cadastrar {
		padding: 20px 0 20px 0;
	}

	.btn-explorar {
		font-weight: normal;
	}

	.apresentacao-btn p, .apresentacao-btn a{
		width: 100%;
		text-align: center;
		margin: 0;
		color: white;
	}

	.apresentacao-btn i {
		display: none;
	}

	.apresentacao-2-titulo {
		font-size: 26px;
	}

	.apresentacao-2-titulo-2 {
		font-size: 18px;
	}

	.apresentacao-2-subtitulo {
		font-size: 16px;
	}

	.apresentacao-2-texto {
		font-size: 14px;
	}

	.apresentacao-2-paragrafo {
		line-height: 19px;
	}

	.apresentacao-3-texto {
		margin-right: 30px;
	}

	.apresentacao-3-paragrafo {
		font-size: 14px;
	}

	.apresentacao-4 img {
		width: auto;
	}

	.apresentacao-4 h3 {
		margin: 0;
	}

	.apresentacao-5 button {
		padding-right: 10px;
		padding-left: 10px;
	}

	footer {
		padding: 30px 5% 30px 5%;
	}

	.rodape-info {
		display: block;
	}

	.rodape-sobre, .rodape-contato {
		margin: 0;
	}

	.rodape-info p {
		font-size: 12px;
		margin: 0;
		width: 100%;
	}

	.rodape-extra-info {
		font-size: 12px;
		text-align: center;
	}

	footer img {
		display: none;
	}
}