body {
  color: #343434;
}

h1 {
  margin-left: 5%;
}

hr {
  width: 80%;
  border-color: rgba(255, 255, 255, 0.44);
  margin-bottom: 30px;
  margin-top: 30px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avaliacao {
  margin-left: 20px;
}

.notas {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.notas > input{ display:none;}

.notas > label {
  position: relative;
  width: 0.9em;
  font-size: 3vw;
  color: #A959DD;
  cursor: pointer;
}

.notas > label::before{ 
  content: "\2605";
  position: absolute;
  opacity: 0;
}

.notas > label:hover:before,
.notas > label:hover ~ label:before {
  opacity: 1 !important;
}

.notas > input:checked ~ label:before{
  opacity:1;
}

.notas:hover > input:checked ~ label:before{ opacity: 0.4; }

textarea {
  resize: none;
  padding: 10px;
  width: 400px;
  height: 200px;
  border: 1px solid rgba(0, 0, 0, 0.44);
  outline: none;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
}

#avaliar-btn {
  background-color: #820AD1;
  color: white;
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  border: 1px solid #820AD1;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}