body {
	color: #343434;
}

.conteudo {
	padding: 5%;
	padding-top: 1%;
}

hr {
	width: 80%;
	border-color: rgba(255, 255, 255, 0.44);
	margin-bottom: 30px;
	margin-top: 30px;
}

.anuncios {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.anuncio {
	margin-right: 20px;
}

.anuncio a{
	color: #343434;
	text-decoration: none;
}

.anuncio h3 {
	text-align: center;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 0;
	background-color: #343434;
	color: white;
}

.anuncio-avaliacao {
	display: flex;
}

.anuncio-avaliacao i {
	color: #820AD1;
}

.anuncio-avaliacao p {
	font-size: 12px;
	margin-top: 0;
	margin-left: 5px;
}

.anuncio-preco {
	display: flex;
}

.anuncio-preco h2 {
	margin-top: 0;
}

.anuncio-preco p {
	margin-top: 2px;
}