body {
	color: #343434;
}

h1 {
	margin-left: 5%;
}

hr {
	width: 80%;
	border-color: rgba(255, 255, 255, 0.44);
	margin-bottom: 30px;
	margin-top: 30px;
}

.compras {
	width: 100%;
}

.compra {
	padding-left: 5%;
	padding-right: 5%;
}

.livro {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.livro img {
	width: 60px;
	margin-right: 10px;
}

.livro #preco {
	margin-left: auto;
	margin-right: 50px;
}