:root {
    --swiper-theme-color: #fff !important;
}

body {
	color: #343434;
}

h1 {
	text-align: center;
}

form {
	display: grid;
	justify-content: center;
	align-items: center;
}

textarea {
	resize: none;
}

button {
	cursor: pointer;
}

.div-1 {
	display: flex;
	justify-content: center;
	align-items: center;
}

.imagens {
	text-align: center;
	margin-right: 70px;
}

.swiper {
  width: 350px;
  height: 500px;
}

.swiper-slide input{
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.swiper-slide label {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(169, 89, 221, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
  font-size: 60px;
}

.swiper-button-prev::after, .swiper-button-next::after {
	color: #A959DD;
	background-color: white;
	padding: 10px;
	border-radius: 5px;
}

.livro-info {
	display: grid;
}

h2 {
	text-align: center;
}

.inputs-2 ul {
	display: flex;
	list-style-type: none;
}

.inputs-2 input {
	width: 100%;
	text-align: center;
}

.inputs-2 input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.inputs-2 label {
  display: inline-block;
  opacity: 0.5;
  background-color: #fff;
  color: #343434;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid #343434;
  cursor: pointer;
}

.inputs-2 input[type="radio"]:checked + label {
	opacity: 1;
  background-color: #343434;
  color: white;
}

.inputs-3 {
	display: grid;
	max-width: 709px;
	margin-top: 20px;
}

.inputs-3 h2 {
	text-align: left;
}

.inputs-3 .detalhe-inputs {
	display: grid;
	margin-left: 30px;
	margin-right: 30px;
}

.detalhe-input {
	margin-bottom: 30px;
}

.detalhe-input div {
	display: flex;
	width: 100%;
}

.novo-detalhe {
	display: flex;
	justify-content: center;
}

#btn-novo-detalhe {
	padding: 5px 5px 2px 5px;
	outline: none;
	background-color: rgba(169, 89, 221, 0.3);
	color: #743B99;
	border: 1px solid rgba(169, 89, 221, 0.5);
	border-radius: 5px;
	font-size: 22px;
}

.detalhe-input button {
	padding: 5px;
	margin-top: 10px;
	color: #842029;
	background-color: #f8d7da;
	outline: none;
	border: 1px solid #f5c2c7;
	border-radius: 5px;
	font-size: 18px;
}

.inputs-3 textarea {
	font-family: "Inter", sans-serif;
	padding: 10px;
	margin-left: 30px;
	margin-right: 30px;
	border: 1px solid #ccc;
}

#id_detalhes {
	display: none;
}

.inputs-3 button[type="submit"] {
	margin: 30px 30px 30px auto;
	padding: 10px 50px 10px 50px;
	background-color: #820AD1;
	color: white;
	font-size: 16px;
	font-weight: bold;
	font-family: "Inter", sans-serif;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

:focus {
	outline: none;
}

.col-3{
	position: relative;
	margin-bottom: 30px;
}

input[type="text"], input[type="number"] {
	font: 15px/24px "Inter", "Inter", sans-serif; 
	color: #343434; width: 100%; 
	box-sizing: border-box; 
	letter-spacing: 1px;
	width: 100%;
}

.effect-1 {
	border: 0; 
	padding: 7px 0; 
	border-bottom: 1px solid #ccc;
}

.effect-1 ~ .focus-border {
	position: absolute; 
	bottom: 0; left: 0; 
	width: 0; height: 2px; 
	background-color: #A959DD; 
	transition: 0.4s;
}

.effect-1:focus ~ .focus-border {
	width: 100%; 
	transition: 0.4s;
}

.effect-16 {
	border: 0; 
	padding: 4px 0; 
	border-bottom: 1px solid rgba(52, 52, 52, 0.5); 
	background-color: transparent;
}

.effect-16 ~ .focus-border {
	position: absolute; 
	bottom: 0; 
	left: 0; 
	width: 0; 
	height: 2px; 
	background-color: #A959DD; 
	transition: 0.4s;
}

.effect-16:focus ~ .focus-border,
.has-content.effect-16 ~ .focus-border {
	width: 100%; 
	transition: 0.4s;
}

.effect-16 ~ label {
	position: absolute; 
	left: 0; 
	width: 100%; 
	top: 9px; 
	color: rgba(52, 52, 52, 0.5); 
	transition: 0.3s; 
	z-index: -1; 
	letter-spacing: 0.5px;
}

.effect-16:focus ~ label, .has-content.effect-16 ~ label{
	top: -16px; 
	font-size: 12px; 
	color: #A959DD; 
	transition: 0.3s;
}

@media screen and (max-width: 767px) {
	form {
		display: block;
		padding-left: 5%;
		padding-right: 5%;
	}

	.div-1 {
		display: block;
	}

	.imagens {
		margin: 0;
		margin-bottom: 30px;
	}

	.swiper {
		max-width: 350px;
		width: 100%;
	}


	.inputs-2 {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.inputs-2 label {
		justify-content: center;
		align-items: center;
		padding: 10px;
		margin-right: 10px;
	}

	.inputs-3 {
		display: grid;
		align-items: center;
		justify-content: center;
	}

	.inputs-3 textarea {
		margin: 0;
	}

	.inputs-3 button {
		margin-right: 0;
	}
}

@media screen and (max-width: 540px) {
	.inputs-3 button[type="submit"] {
		width: 100%;
	}
}