body {
	color: #343434;
}

.resultados-conteudo {
	display: flex;
	width: 100%;
}

.resultados-filtro {
	padding-left: 20px;
	padding-right: 20px;
	margin-right: 60px;
	margin-top: 52px;
	width: 260px;
	border-radius: 0px 5px 5px 0px;
	border: 0.5px solid rgba(52, 52, 52, 0.2);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.resultados-filtro ul {
	list-style-type: none;
	padding-left: 15px;
}

.resultados-filtro li {
	cursor: pointer;
	font-size: 14px;
	margin-bottom: 5px;
}

.resultados-preco input[name="preco-min"] {
	margin-left: 15px;
}

.resultados-filtro input {
	font-size: 16px;
	width: 45px;
}

.resultados-filtro text {
	font-size: 14px;
}

.resultados-anuncios-div {
	width: 100%;
}

.resultados-header {
	display: flex;
	align-items: center;
}

.resultados-info {
	display: flex;
	align-items: center;
}

.resultados-info p {
	border-right: 1px solid rgba(52, 52, 52, 0.5);
	padding-right: 10px;
	margin-right: 10px;
}

.ordenar {
	margin-left: auto;
	margin-right: 15px;
	position: relative;
}

.btn-ordenar {
	background-color: white;
	color: #343434;
	border: none;
	outline: none;
	font-size: 14px;
	cursor: pointer;
}

.dropdown-ordenar {
	display: none;
	position: absolute;
	top: 65%;
	left: 23%;
	font-size: 14px;
}

.dropdown-ordenar ul {
	list-style-type: none;
}

.dropdown-ordenar li {
	text-align: left;
	width: 100%;
	border: 0.5px solid rgba(52, 52, 52, 0.2);
	cursor: pointer;
	padding: 10px 0px 10px 10px;
	background-color: white;
}

.resultados-anuncios {
	display: flex;
	flex-wrap: wrap;
	padding: 25px 35px 25px 40px;
	border-radius: 5px 0px 0px 5px;
	border: 0.5px solid rgba(52, 52, 52, 0.2);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.anuncio {
	margin-right: 30px;
	max-width: 210px;
}

.anuncio img {
	width: 210px;
}

.anuncio h3 {
	text-align: center;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 0;
	background-color: #343434;
	color: white;
}

.anuncio a {
	color: #343434;
	text-decoration: none;
}

.anuncio-avaliacao {
	display: flex;
}

.anuncio-avaliacao i {
	color: #820AD1;
}

.anuncio-avaliacao p {
	font-size: 12px;
	margin-top: 0;
	margin-left: 5px;
}

.anuncio-preco {
	display: flex;
}

.anuncio-preco h2 {
	margin-top: 0;
}

.anuncio-preco p {
	margin-top: 3px;
}

.filtros {
	display: none;
}

.resultados-header-mobile {
	display: none;
}

@media screen and (max-width: 660px) {
	.filtros {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.filtros button {
		margin-top: 1px;
		background-color: white;
		color: #A959DD;
		border: 1px solid rgba(52, 52, 52, 0.15);
		outline: none;
		padding: 10px;
		font-size: 16px;
		width: 50%;
	}

	.filtros i {
		margin-right: 5px;
	}

	.filtro-mobile {
		align-items: center;
		margin-top: 30px;
	}

	.filtro-mobile i {
		color: #A959DD;
		margin-left: auto;
		margin-right: 20px;
	}

	.resultados-filtro {
		display: none;
		position: fixed; 
   		overflow: hidden;
		top: 0%;
		width: 100%;
		background-color: white;
		border: none;
		padding: 0;
		margin-top: 0;
		height: 100%;
	}

	.resultados-genero ul, .resultados-categoria ul, .resultados-preco input, 
	.resultados-preco text, .resultados-preco button, .resultados-localizacao ul {
		display: none;
	}

	.resultados-filtro h1 {
		margin-left: 20px;
	}

	.resultados-filtro h2 {
		font-weight: normal;
		padding: 12px 25px;
		font-size: 16px;
		border-bottom: 1px solid rgba(52, 52, 52, 0.15);
		margin: 0;
	}

	.resultados-header {
		display: none;
	}

	.resultados-header-mobile {
		display: none;
		position: fixed;
		overflow: hidden;
		top: 0;
		background-color: white;
		width: 100%;
		height: 100%;
	}

	.resultados-header-mobile div {
		display: flex;
		align-items: center;
		margin-top: 30px;
	}

	.resultados-header-mobile h1 {
		margin-left: 20px;
	}

	.resultados-header-mobile i {
		margin-left: auto;
		margin-right: 20px;
		color: #A959DD;
	}

	.resultados-header-mobile ul {
		list-style-type: none;
		width: 100%;
		padding: 0;
	}

	.resultados-header-mobile li {
		width: 100%;
		font-size: 16px;
		padding: 12px 25px;
		border-bottom: 1px solid rgba(52, 52, 52, 0.15);
	}

	.resultados-anuncios {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 10px;
		border: none;
		padding: 5px;
	}

	.anuncio {
		margin: 0;
	}

	.anuncio img {
		width: 100%;
		height: auto;
	}
}

@media screen and (max-width: 536px) {
	.resultados-anuncios {
		grid-template-columns: 1fr 1fr;
	}
}