{% extends 'config/settings.html' %}
{% load static %}

{% block right %}
<div class="rightbox">
	<div class="privacity-container">
		<div class="delete-account">
			<h1 class="h1-title">Excluir conta</h1>
			<p>Excluir sua conta e informações do Librium Swap</p>
			<div class="delete-p">
				<p>Excluir</p>
			</div>
		</div>
	</div>
</div>
<link rel="stylesheet" type="text/css" href="{% static 'css/privacity.css'%}">
<script type="text/javascript">
		document.querySelector('.my-account-options').style.display = "block";
		document.querySelector('.settings-options').style.display = "none";
		document.querySelector('.middlebox').style.borderRight = "1px solid grey"
</script>
{% endblock %}
