{% extends 'config/settings.html' %}
{% load static %}

{% block right %}
<div class="rightbox">
	<div class="security-container">
		<div class="change-psswd-container">
			<p><a href="{% url 'password_reset' %}">Mudar senha</a></p>
		</div>
	</div>
		
	</div>
</div>
<link rel="stylesheet" type="text/css" href="{% static 'css/security.css' %}">

<script type="text/javascript">
	document.querySelector('.my-account-options').style.display = "block";
	document.querySelector('.settings-options').style.display = "none";
	document.querySelector('.middlebox').style.borderRight = "1px solid grey"
</script>
{% endblock %}
