{% extends 'config/config.html' %}
{% load static %}

{% block body %}

<div class="container">
	<div class="leftbox">
		<p class="my-account">Minha conta</p>
		<p class="settings">Configurações</p>
	</div>
	<div class="middlebox">
		<div class="my-account-options">
			<p class="my-info"><a href="{% url 'profile' %}">Meus dados</a></p>
			<p class="payment"><a href="{% url 'payment' %}">Pagamento</a></p>
			<p class="notifications"><a href="{% url 'notifications' %}">Notificações</a></p>
			<p class="privacity"><a href="{% url 'privacity' %}">Privacidade</a></p>
			<p class="security"><a href="{% url 'security' %}">Segurança</a></p>
		</div>
		<div class="settings-options">
			<p class="theme"><a href="#">Tema</a></p>
		</div>
	</div>
	{% block right %}
	{% endblock %}
</div>

<link rel="stylesheet" type="text/css" href="{% static 'css/settings.css' %}">
<script type="text/javascript">

	document.addEventListener('DOMContentLoaded', () => {
		click()
	})

	function click(){
		pMyAccount = document.querySelector('.my-account')
		pMyAccount.addEventListener('click', () => {
			x = document.querySelector('.my-account-options')
			if (x.style.display === "block"){
				x.style.display = "none"
				document.querySelector('.middlebox').style.borderRight = "none"
				if(document.querySelector('.rightbox') != null){
					document.querySelector('.rightbox').style.display = "none";
				}
			}
			else{
				x.style.display = "block"
				document.querySelector('.settings-options').style.display = "none"
				document.querySelector('.middlebox').style.borderRight = "1px solid grey"
				if(document.querySelector('.rightbox') != null){
					document.querySelector('.rightbox').style.display = "none";

				}
			}
		})

		pSettings = document.querySelector('.settings')
		pSettings.addEventListener('click', () => {
			y = document.querySelector('.settings-options')
			if (y.style.display === "block"){
				y.style.display = "none"
				document.querySelector('.middlebox').style.borderRight = "none"
				if(document.querySelector('.rightbox') != null){
					document.querySelector('.rightbox').style.display = "none";
				}
			}
			else{
				y.style.display = "block"
				document.querySelector('.my-account-options').style.display = "none"
				document.querySelector('.middlebox').style.borderRight = "1px solid grey"
				if(document.querySelector('.rightbox') != null){
					document.querySelector('.rightbox').style.display = "none";
				}
			}
		})
	}
</script>
{% endblock %}
