{% extends 'home/layout.html' %}

{% load static %}

{% block title %}Carrinho{% endblock %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/carrinho.css' %}">
{% endblock %}

{% block body %}
	<div class="conteudo">
		<div class="carrinho">
			<h1>Carrinho</h1>
			<hr>
			{% for anuncio in carrinho %}
			<div class="anuncio{{ anuncio.id }}">
				<div class="anuncio">
					{% csrf_token %}
					<a href="{% url 'anuncio_livro' anuncio.id %}"><img src="{{ anuncio.imagens.first.imagem.url }}"></a>
					<div class="anuncio-conteudo">
						<div class="anuncio-info">
							<a href="{% url 'anuncio_livro' anuncio.id%}"><h2>{{ anuncio.titulo }}</h2></a>
							<p>{{ anuncio.autor }}</p>
							<a href="{% url 'checkout' anuncio.id %}" id="comprar">Comprar agora</a><br>
							<button class="remover" data-id="{{ anuncio.id }}">Excluir <i class="bi bi-trash"></i></button>
						</div>
						<h2 class="preco">R${{ anuncio.preco }}</h2>
					</div>
				</div>
				<hr>
			</div>
			{% endfor %}
		</div>
		{% if carrinho %}
			<h2 id="carrinho-total">Total: R${{ total.preco__sum }}</h2>
			<a href="{% url 'checkout_carrinho' %}" class="comprar-carrinho">Comprar do carrinho</a>
		{% else %}
			<p id="carrinho-total">Não há nenhum anúncio adicionado ao carrinho :(</p>
		{% endif %}
	</div>

	<script type="text/javascript" src="{% static 'js/carrinho.js' %}"></script>
{% endblock %}