{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800;900&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
		<title>LibriumSwipe</title>
		<link rel="icon" type="image/png" href="{% static 'images/logomarca.svg' %}">
	</head>
	<body>
		<nav>
			<img src="{% static 'images/logo.png' %}">
			<form class="pesquisa">
				<input class="pesquisa-input" type="text" name="q">
				<button class="bi bi-search"></button>
			</form>
			<a href="{% url 'login' %}" class="btn-login">Fazer login</a>
		</nav>
		<div class="apresentacao">
			<div class="apresentacao-texto">
				<h1 class="apresentacao-titulo">Ajudando a <b class="destaque-titulo">melhorar</b> a circulação de <b class="destaque-titulo">livros</b> físicos pelo Brasil</h1>
				<p class="apresentacao-paragrafo">No LibriumSwipe você pode comprar, alugar e anunciar livros além de poder trocar aqueles seus livros que estão começando a virar parte da decoração da sua estante por outros! <i class="bi bi-emoji-laughing"></i></p>
				<div class="apresentacao-btn">
					<a href="{% url 'register' %}" class="btn-cadastrar">Se cadastrar</a> ou <a href="#" class="btn-explorar">Explorar livros <i class="bi bi-arrow-right"></i></a>
				</div>
			</div>
			<img src="{% static 'images/apresentacao.png' %}" width="519px">
		</div>
		<div class="apresentacao-2">
			<h1 class="apresentacao-2-titulo">Como funciona?</h1>
			<div class="apresentacao-2-conteudo">
				<div class="apresentacao-2-imagem">
					<img id="icone-lupa" src="{% static 'images/icone-lupa.svg' %}">
					<img src="{% static 'images/seta-1.svg' %}">
					<img id="apresentacao-livro" src="{% static 'images/apresentacao-livro.png' %}" width="210px">
					<img id="seta-2" src="{% static 'images/seta-2.svg' %}">
					<img id="emoji-amei" src="{% static 'images/emoji-amei.svg' %}">
				</div>
				<div class="apresentacao-2-texto">
					<h4 class="apresentacao-2-subtitulo">Crie uma conta</h4>
					<h1 class="apresentacao-2-titulo-2">Escolha o livro que você deseja</h1>
					<p class="apresentacao-2-paragrafo">
						Os livros são divididos em 9 gêneros diferentes dentre eles: ficção, fantasia, novela, terror e estudos. Diversos autores e a opção de comprar, alugar e trocar, para servir melhor a sua necessidade!
					</p>
				</div>
			</div>
		</div>
		<div class="apresentacao-3">
			<div class="apresentacao-3-texto">
				<h1 class="apresentacao-3-titulo apresentacao-2-titulo-2">Pague de diversas formas!</h1>
				<p class="apresentacao-3-paragrafo">Você pode fazer o pagamento usando cartão de crédito ou débito, boleto bancário, Paypal ou PIX.</p>
			</div>
			<img src="{% static 'images/pagamento.png' %}">
		</div>
		<div class="apresentacao-4">
			<div class="quadro-1">
				<h4 class="quadro-titulo">Espere o livro chegar até você</h4>
				<img src="{% static 'images/rota.png' %}" width="400px">
			</div>
			<h3>ou</h3>
			<div class="quadro-2">
				<img src="{% static 'images/aperto_de_mao.png' %}" width="400px">
				<h4 class="quadro-titulo">Encontre-se com quem você fará a troca</h4>
			</div>
		</div>
		<div class="apresentacao-5">
			<div class="apresentacao-5-div">
				<img src="{% static 'images/mulher_lendo.png' %}">
				<div class="apresentacao-5-texto">
					<h1 class="apresentacao-5-titulo apresentacao-2-titulo-2">Aproveite o seu novo livro!</h1>
					<p class="apresentacao-3-paragrafo">Continue usando o LibriumSwap e aproveite os benefícios que os livros nos trazem.</p>
				</div>
			</div>
			<button class="btn-cadastrar">Fazer parte do LibriumSwap</button>
		</div>
		<footer>
			<div class="rodape-info">
				<div class="rodape-sobre">
					<h2>Sobre</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ipsum laoreet elementum cras. Blandit volutpat nibh mauris, mauris. Magna at vestibulum nunc quam nunc diam venenatis at libero. Sit eget eu in in sit eu.</p>
				</div>
				<div class="rodape-contato">
					<h2>Contato</h2>
					<p>contato@libriumswap.com</p>
				</div>
			</div>
			<hr>
			<div class="rodape-extra-info">
				<p>Copyright @ 2021. Todos os direitos reservados</p>
				<img src="{% static 'images/logo.png' %}">
			</div>
		</footer>
	</body>
</html>