{% extends "home/layout.html" %}

{% load static %}

{% block title %}Anúncio{% endblock %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/anuncio.css' %}">
	<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
{% endblock %}

{% block body %}
	<div class="anuncio-apresentacao">
		<div class="anuncio-imagens">
			<div class="swiper">
				<div class="swiper-wrapper">
					{% for imagem in anuncio.imagens.all %}
						<div class="swiper-slide">
							<img src="{{ imagem.imagem.url }}" width="100%" height="auto">
						</div>
					{% endfor %}
				</div>
				<div class="swiper-pagination"></div>
				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
			</div>
		</div>
		<div class="anuncio-info">
			{% csrf_token %}
			<h3>{{ anuncio.get_categoria_display }}</h3>
			<h2 data-id="{{ anuncio.id }}">
				{{ anuncio.titulo }}
				{% if favorito %}
					<input id="favorito" type="checkbox" class="checkbox" data-id="{{ anuncio.id }}" checked>
					<label for="favorito">
					  <svg id="heart-svg" viewBox="467 392 58 57" xmlns="http://www.w3.org/2000/svg">
					    <g id="Group" fill="none" fill-rule="evenodd" transform="translate(467 392)">
					      <path d="M29.144 20.773c-.063-.13-4.227-8.67-11.44-2.59C7.63 28.795 28.94 43.256 29.143 43.394c.204-.138 21.513-14.6 11.44-25.213-7.214-6.08-11.377 2.46-11.44 2.59z" id="heart" fill="#AAB8C2"/>
					      <circle id="main-circ" fill="#820AD1" opacity="0" cx="29.5" cy="29.5" r="1.5"/>

					      <g id="grp7" opacity="0" transform="translate(7 6)">
					        <circle id="oval1" fill="#9CD8C3" cx="2" cy="6" r="2"/>
					        <circle id="oval2" fill="#8CE8C3" cx="5" cy="2" r="2"/>
					      </g>

					      <g id="grp6" opacity="0" transform="translate(0 28)">
					        <circle id="oval1" fill="#CC8EF5" cx="2" cy="7" r="2"/>
					        <circle id="oval2" fill="#91D2FA" cx="3" cy="2" r="2"/>
					      </g>

					      <g id="grp3" opacity="0" transform="translate(52 28)">
					        <circle id="oval2" fill="#9CD8C3" cx="2" cy="7" r="2"/>
					        <circle id="oval1" fill="#8CE8C3" cx="4" cy="2" r="2"/>
					      </g>

					      <g id="grp2" opacity="0" transform="translate(44 6)">
					        <circle id="oval2" fill="#CC8EF5" cx="5" cy="6" r="2"/>
					        <circle id="oval1" fill="#CC8EF5" cx="2" cy="2" r="2"/>
					      </g>

					      <g id="grp5" opacity="0" transform="translate(14 50)">
					        <circle id="oval1" fill="#91D2FA" cx="6" cy="5" r="2"/>
					        <circle id="oval2" fill="#91D2FA" cx="2" cy="2" r="2"/>
					      </g>

					      <g id="grp4" opacity="0" transform="translate(35 50)">
					        <circle id="oval1" fill="#F48EA7" cx="6" cy="5" r="2"/>
					        <circle id="oval2" fill="#F48EA7" cx="2" cy="2" r="2"/>
					      </g>

					      <g id="grp1" opacity="0" transform="translate(24)">
					        <circle id="oval1" fill="#9FC7FA" cx="2.5" cy="3" r="2"/>
					        <circle id="oval2" fill="#9FC7FA" cx="7.5" cy="2" r="2"/>
					      </g>
					    </g>
					  </svg>
					</label>
				{% else %}
					<input id="favorito" type="checkbox" class="checkbox" data-id="{{ anuncio.id }}">
					<label for="favorito">
					  <svg id="heart-svg" viewBox="467 392 58 57" xmlns="http://www.w3.org/2000/svg">
					    <g id="Group" fill="none" fill-rule="evenodd" transform="translate(467 392)">
					      <path d="M29.144 20.773c-.063-.13-4.227-8.67-11.44-2.59C7.63 28.795 28.94 43.256 29.143 43.394c.204-.138 21.513-14.6 11.44-25.213-7.214-6.08-11.377 2.46-11.44 2.59z" id="heart" fill="#AAB8C2"/>
					      <circle id="main-circ" fill="#820AD1" opacity="0" cx="29.5" cy="29.5" r="1.5"/>

					      <g id="grp7" opacity="0" transform="translate(7 6)">
					        <circle id="oval1" fill="#9CD8C3" cx="2" cy="6" r="2"/>
					        <circle id="oval2" fill="#8CE8C3" cx="5" cy="2" r="2"/>
					      </g>

					      <g id="grp6" opacity="0" transform="translate(0 28)">
					        <circle id="oval1" fill="#CC8EF5" cx="2" cy="7" r="2"/>
					        <circle id="oval2" fill="#91D2FA" cx="3" cy="2" r="2"/>
					      </g>

					      <g id="grp3" opacity="0" transform="translate(52 28)">
					        <circle id="oval2" fill="#9CD8C3" cx="2" cy="7" r="2"/>
					        <circle id="oval1" fill="#8CE8C3" cx="4" cy="2" r="2"/>
					      </g>

					      <g id="grp2" opacity="0" transform="translate(44 6)">
					        <circle id="oval2" fill="#CC8EF5" cx="5" cy="6" r="2"/>
					        <circle id="oval1" fill="#CC8EF5" cx="2" cy="2" r="2"/>
					      </g>

					      <g id="grp5" opacity="0" transform="translate(14 50)">
					        <circle id="oval1" fill="#91D2FA" cx="6" cy="5" r="2"/>
					        <circle id="oval2" fill="#91D2FA" cx="2" cy="2" r="2"/>
					      </g>

					      <g id="grp4" opacity="0" transform="translate(35 50)">
					        <circle id="oval1" fill="#F48EA7" cx="6" cy="5" r="2"/>
					        <circle id="oval2" fill="#F48EA7" cx="2" cy="2" r="2"/>
					      </g>

					      <g id="grp1" opacity="0" transform="translate(24)">
					        <circle id="oval1" fill="#9FC7FA" cx="2.5" cy="3" r="2"/>
					        <circle id="oval2" fill="#9FC7FA" cx="7.5" cy="2" r="2"/>
					      </g>
					    </g>
					  </svg>
					</label>
				{% endif %}
			</h2>

			<p>por {{ anuncio.autor }}</p>

			<div class="avaliacoes">
				<i class="bi bi-star-fill"></i>
				<i class="bi bi-star-fill"></i>
				<i class="bi bi-star-fill"></i>
				<i class="bi bi-star-fill"></i>
				<i class="bi bi-star-fill"></i>
				<p>{{ anuncio.avaliacoes.count }} avaliações</p>
			</div>

			{% if anunciante %}
				<h4>Anunciado por você <a href="#"><i class="bi bi-pencil-square"></i></a></h4>
				<div class="anuncio-btns">
					<a href="{% url 'editar_anuncio' anuncio.id %}">Editar</a>
					<a href="{% url 'pausar_anuncio' anuncio.id %}">Pausar</a>
					<a href="{% url 'excluir_anuncio' anuncio.id %}">Excluir</a>
				</div>
			{% else %}
				<h4>Anunciado por {{ anuncio.anunciante.username }} <a href="{% url 'room' anuncio.anunciante.username %}"><i class="bi bi-pencil-square"></i></a></h4>

				{% if anuncio.preco %}
					<h2 id="anuncio-preco">R$ {{ anuncio.preco }}</h2>
					<a href="{% url 'checkout' anuncio.id %}" class="btn btn-comprar">Comprar</a>
					<button class="btn btn-carrinho"><span>Adicionar ao carrinho</span><i class="bi bi-check-circle-fill"></i><i class="bi bi-x-circle-fill"></i></button>
				{% else %}
					<a href="{% url 'troca' anuncio.id %}" class="btn btn-comprar">Trocar</a>
				{% endif %}
			{% endif %}
		</div>
	</div>
	<div class="anuncio-sinopse">
		<h1>Sinópse</h1>
		<p>{{ anuncio.sinopse }}</p>
	</div>
	<div class="anuncio-detalhes">
		<h1>Detalhes</h1>
		<table>
			{% for key, value in anuncio.detalhes.items %}
			<tr>
				<td>{{ key|capfirst }}</td>
				<td>{{ value|capfirst }}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
	{% if anuncio.avaliacoes.all %}
		<div class="anuncio-avaliacoes">
			<h1>Avaliações</h1>
			{% for avaliacao in anuncio.avaliacoes.all %}
			<div class="avaliacao">
				<div class="nota">
					{{ avaliacao.user }} -
					<i class="bi bi-star-fill"></i>
					<i class="bi bi-star-fill"></i>
					<i class="bi bi-star-fill"></i>
					<i class="bi bi-star-fill"></i>
					<i class="bi bi-star-fill"></i>
				</div>
				{{ avaliacao.comentario }}
			</div>
			{% endfor %}
		</div>
	{% endif %}

	<script type="text/javascript" src="{% static 'js/anuncio.js' %}"></script>
	<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
	<script src="{% static 'js/slide_novo_anuncio.js' %}"></script>
{% endblock %}