{% extends "home/layout.html" %}

{% load static %}

{% block title %}Anúncio{% endblock %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/anuncio.css' %}">
{% endblock %}

{% block body %}
	<div class="anuncio-apresentacao">
		<div class="anuncio-imagens">
			<img src="{{ anuncio.imagens.first.imagem.url }}" width="350px" height="auto">
		</div>
		<div class="anuncio-info">
			{% csrf_token %}
			<h3>{{ anuncio.get_categoria_display }}</h3>
			<h2 data-id="{{ anuncio.id }}">
				{{ anuncio.titulo }}
				{% if favorito %}
					<button id="favorito" class="bi bi-heart-fill" data-id="{{ anuncio.id }}"></button>
				{% else %}
					<button id="favorito" class="bi bi-heart" data-id="{{ anuncio.id }}"></button>
				{% endif %}
			</h2>
			<p>por {{ anuncio.autor }}</p>

			<div class="avaliacoes">
				<i class="bi bi-star-fill"></i>
				<i class="bi bi-star-fill"></i>
				<i class="bi bi-star-fill"></i>
				<i class="bi bi-star-fill"></i>
				<i class="bi bi-star-fill"></i>
				<p>100 avaliações</p>
			</div>

			<h4>Anunciado por {{ anuncio.anunciante.username }} <a href="{% url 'chat' %}"><i class="bi bi-pencil-square"></i></a></h4>
			<h2>R$ {{ anuncio.preco }}</h2>
			<a href="{% url 'checkout' anuncio.id %}" class="btn btn-comprar">Comprar</a>
			<button class="btn btn-carrinho">Adicionar ao carrinho</button>
		</div>
	</div>
	<div class="anuncio-sinopse">
		<h1>Sinópse</h1>
		<p>{{ anuncio.sinopse }}</p>
	</div>
	<div class="anuncio-detalhes">
		<h1>Detalhes</h1>
		<table>
			{% for key, value in anuncio.detalhes.items %}
			<tr>
				<td>{{ key|capfirst }}</td>
				<td>{{ value|capfirst }}</td>
			</tr>
			{% endfor %}
		</table>
	</div>

	<script type="text/javascript" src="{% static 'js/anuncio.js' %}"></script>
{% endblock %}