{% extends "home/layout.html" %}

{% load static %}

{% block title %}Minhas compras{% endblock %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/compras.css' %}">
{% endblock %}

{% block body %}
	<h1>Minhas compras</h1>
	<hr>
	<div class="compras">
		{% for compra in compras %}
			<div class="compra">
				{{ compra.total }}
				<a href="{% url 'anuncio_livro' compra.id %}"><img src="{{ compra.imagens.first.imagem.url }}" width="120px"></a>
				<div class="compra-texto">
					<div class="compra-info">
						<a href="{% url 'anuncio_livro' compra.id %}"><h2>{{ compra.titulo }}</h2></a>
						<p>{{ compra.autor }}</p>
					</div>
					{% if compra.preco %}
						<h2 id="preco">R$ {{ compra.preco }}</h2>
					{% endif %}
				</div>
			</div>
			<hr>
		{% endfor %}
	</div>
{% endblock %}