{% extends 'layout.html' %}

{% load static %}

{% block title %}Editar anúncio{% endblock %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/novo_anuncio_form.css' %}">
	<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
{% endblock %}

{% block body %}
	{% for erro in erros.values %}
		{{ erro }}
	{% endfor %}
	<h1>Editar anúncio</h1>
	<form action="{% url 'editar_anuncio' anuncio.id %}" enctype="multipart/form-data" method="post" onsubmit="anunciar();">
		{% csrf_token %}
		<div class="div-1">
			<div class="imagens">
				<h2>Imagem do livro</h2>
				<div class="swiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide">{{ form.imagem1 }} <label for="id_imagem1" id="imagem1" {% if data-url="{{ anuncio.imagens.all.0.imagem.url }}"><i class="bi bi-camera-fill"></i></label></div>
						<div class="swiper-slide">{{ form.imagem2 }} <label for="id_imagem2" id="imagem2" data-url="{{ anuncio.imagens.all.1.imagem.url }}"><i class="bi bi-camera-fill"></i></label></div>
						<div class="swiper-slide">{{ form.imagem3 }} <label for="id_imagem3" id="imagem3" data-url="{{ anuncio.imagens.all.2.imagem.url }}"><i class="bi bi-camera-fill"></i></label></div>
						<div class="swiper-slide">{{ form.imagem4 }} <label for="id_imagem4" id="imagem4" data-url="{{ anuncio.imagens.all.3.imagem.url }}"><i class="bi bi-camera-fill"></i></label></div>
					</div>
					<div class="swiper-pagination"></div>
					<div class="swiper-button-prev"></div>
					<div class="swiper-button-next"></div>
				</div>
			</div>
			<div class="livro-info">
				<div class="col-3 input-effect">
		        	{{ form.titulo }}
		            <label>Título</label>
		            <span class="focus-border"></span>
		        </div>
    			<div class="col-3 input-effect">
		        	{{ form.autor }}
		            <label>Autor(a)</label>
		            <span class="focus-border"></span>
		        </div>
    			<h2>Categoria</h2>
    			<div class="inputs-2">
    				{% for input in form.categoria %}
    					{{ input.tag }}
    					<label class="categoria" for="{{ input.id_for_label }}">{{ input.choice_label }}</label>
    				{% endfor %}
    			</div>
    			<div class="preco">
	    			<h2>Preço</h2>
	    			<div class="col-3 input-effect inputs-2">
			        	{{ form.preco }}
			            <span class="focus-border"></span>
			        </div>
			    </div>
    			</div>
			</div>
		</div>
		<div class="inputs-3">
			<h2>Sinópse</h2>
			{{ form.sinopse }}
			<h2>Detalhes</h2>
			<div class="detalhe-inputs">
				<div class="detalhe-input">
					<div>
						<div class="col-3">
							<input class="effect-1" type="text" name="detalhe-nome" placeholder="Nome do detalhe" style="margin-right: 5px;">
							<span class="focus-border"></span>
						</div>
						<div class="col-3">
							<input class="effect-1" type="text" name="detalhe-valor" placeholder="Detalhe" style="margin-left: 5px;">
							<span class="focus-border"></span>
						</div>
					</div>
					<button class="bi bi-trash btn-excluir" type="button"></button>
				</div>
			</div>
			<div class="novo-detalhe">
				<button type="button" id="btn-novo-detalhe" class="bi bi-plus"></button>
			</div>
			{{ form.detalhes }}
			<input type="hidden" class="detalhes" value="{{ anuncio.detalhes }}">
			<button type="submit" class="draw meet">Salvar</button>
		</div>
	</form>

	<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
	<script src="{% static 'js/slide_novo_anuncio.js' %}"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
	<script src="{% static 'js/novo_anuncio_form.js' %}"></script>
{% endblock %}