{% extends 'home/layout.html' %}
{% load static %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/novo_anuncio_form.css' %}">
	<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
{% endblock %}

{% block title %}Novo anúncio{% endblock %}

{% block body %}
	{% for erro in erros.values %}
		{{ erro }}
	{% endfor %}
	<h1>Novo anúncio</h1>
	<form action="{% url 'novo_anuncio' %}" enctype="multipart/form-data" method="post">
		{% csrf_token %}
		<div class="div-1">
			<div class="imagens">
				<h2>Imagem do livro</h2>
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">{{ form.imagem1 }} <label for="id_imagem1" id="imagem1"><i class="bi bi-camera-fill"></i></label></div>
						<div class="swiper-slide">{{ form.imagem2 }} <label for="id_imagem2" id="imagem2"><i class="bi bi-camera-fill"></i></label></div>
						<div class="swiper-slide">{{ form.imagem3 }} <label for="id_imagem3" id="imagem3"><i class="bi bi-camera-fill"></i></label></div>
						<div class="swiper-slide">{{ form.imagem4 }} <label for="id_imagem4" id="imagem4"><i class="bi bi-camera-fill"></i></label></div>
					</div>
					<div class="swiper-pagination"></div>
					<div class="swiper-button-prev"></div>
					<div class="swiper-button-next"></div>
				</div>
			</div>
			<div class="livro-info">
				<div class="col-3 input-effect">
		        	{{ form.titulo }}
		            <label>Título</label>
		            <span class="focus-border"></span>
		        </div>
    			<div class="col-3 input-effect">
		        	{{ form.autor }}
		            <label>Autor(a)</label>
		            <span class="focus-border"></span>
		        </div>
    			<h2>Categoria</h2>
    			<div class="inputs-2">
    				{% for input in form.categoria %}
    					{{ input.tag }}
    					<label for="{{ input.id_for_label }}">{{ input.choice_label }}</label>
    				{% endfor %}
    			</div>
    			<h2>Preço</h2>
    			<div class="col-3 input-effect inputs-2">
		        	{{ form.preco }}
		            <span class="focus-border"></span>
		        </div>
    			</div>
			</div>
		</div>
		<div class="inputs-3">
			<h2>Sinópse</h2>
			{{ form.sinopse }}
			<h2>Detalhes</h2>
			{{ form.detalhes }}
			<button type="submit" class="draw meet">Publicar</button>
		</div>
	</form>

	<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
	<script src="{% static 'js/novo_anuncio_form.js' %}"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
	<script src="{% static 'js/novo_anuncio_form.js' %}"></script>
{% endblock %}