{% extends 'home/layout.html' %}

{% load static %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/pesquisa.css' %}">
{% endblock %}

{% block body %}
	<div class="resultados-conteudo">
		<div class="resultados-filtro">
			<div class="filtro-mobile">
				<h1>Filtrar por</h1>
				<i class="bi bi-x-lg x-filtro"></i>
			</div>
			<div class="filtros-ativados">
			</div>
			<div class="resultados-genero">
				<h2>Gênero</h2>
				<ul>
					<li class="filtro-genero">Autoajuda</li>
					<li class="filtro-genero">Científicos</li>
					<li class="filtro-genero">Didáticos</li>
					<li class="filtro-genero">Ficção</li>
					<li class="filtro-genero">HQ</li>
					<li class="filtro-genero">Infantil</li>
					<li class="filtro-genero">Não ficção</li>
					<li class="filtro-genero">Romance</li>
					<li class="filtro-genero">Suspense</li>
					<li class="filtro-genero">Tecnologia</li>
					<li class="filtro-genero">Outros</li>
				</ul>
			</div>
			<div class="resultados-categoria">
				<h2>Categoria</h2>
				<ul>
					<li class="btn-categoria">Venda</li>
					<li class="btn-categoria">Troca</li>
				</ul>
			</div>
			<div class="resultados-preco">
				<h2>Faixa de preço</h2>
				<input type="number" name="preco-min">
				<text>Até</text>
				<input type="number" name="preco-max">
				<button class="filtro-preco bi bi-caret-right-fill"></button>
			</div>
			<div class="resultados-localizacao">
				<h2>Localização</h2>
				<ul>
					<li class="filtro-localizacao">Acre</li>
					<li class="filtro-localizacao">Alagoas</li>
					<li class="filtro-localizacao">Amapá</li>
					<li class="filtro-localizacao">Amazonas</li>
					<li class="filtro-localizacao">Bahia</li>
					<li class="filtro-localizacao">Ceará</li>
					<li class="filtro-localizacao">Distrito Federal</li>
					<li class="filtro-localizacao">Espírito Santo</li>
					<li class="filtro-localizacao">Goiás</li>
					<li class="filtro-localizacao">Maranhão</li>
					<li class="filtro-localizacao">Mato Grosso</li>
					<li class="filtro-localizacao">Mato Grosso do Sul</li>
					<li class="filtro-localizacao">Minas Gerais</li>
					<li class="filtro-localizacao">Pará</li>
					<li class="filtro-localizacao">Paraíba</li>
					<li class="filtro-localizacao">Paraná</li>
					<li class="filtro-localizacao">Pernambuco</li>
					<li class="filtro-localizacao">Piauí</li>
					<li class="filtro-localizacao">Rio de Janeiro</li>
					<li class="filtro-localizacao">Rio Grande do Norte</li>
					<li class="filtro-localizacao">Rio Grande do Sul</li>
					<li class="filtro-localizacao">Rondônia</li>
					<li class="filtro-localizacao">Roraima</li>
					<li class="filtro-localizacao">Santa Catarina</li>
					<li class="filtro-localizacao">São Paulo</li>
					<li class="filtro-localizacao">Sergipe</li>
					<li class="filtro-localizacao">Tocantins</li>
				</ul>
			</div>
		</div>
		<div class="resultados-anuncios-div">
			<div class="resultados-header">
				<div class="resultados-info">
					<p>{{ n_resultados }} resultados para "{{ entrada }}"</p>
					Página 1 de 5
				</div>
				<div class="ordenar">
					<b>Ordenar por </b>
					<button class="btn-ordenar">Mais relevantes</button>
					<i class="bi bi-caret-down-fill"></i>
					<div class="dropdown-ordenar">
						<ul>
							<li class="btn-order">mais relevantes</li>
							<li class="btn-order" data-order="min_preco">menor preço</li>
							<li class="btn-order" data-order="max_preco">maior preço</li>
							<li class="btn-order" data-order="recentes">mais recentes</li>
						<ul>
					</div>
				</div>
			</div>
			<div class="filtros">
				<button class="btn-filtrar-mobile"><i class="bi bi-funnel"></i>Filtrar</button>
				<button class="btn-ordenar-mobile"><i class="bi bi-arrow-down-up"></i>Ordenar</button>
			</div>
			<div class="resultados-header-mobile">
				<div>
					<h1>Ordenar por</h1>
					<i class="bi bi-x-lg x-ordenar"></i>
				</div>
				<ul>
					<li class="btn-order">mais relevantes</li>
					<li class="btn-order" data-order="min_preco">menor preço</li>
					<li class="btn-order" data-order="max_preco">maior preço</li>
					<li class="btn-order" data-order="recentes">mais recentes</li>
				<ul>
			</div>
			<div class="resultados-anuncios">
				{% if resultados %}
					{% for anuncio in resultados %}
						<div class="anuncio">
							<a href="{% url 'anuncio_livro' anuncio.id %}"><img src="{{ anuncio.imagens.first.imagem.url }}"></a>
							<h3>{{ anuncio.get_categoria_display }}</h3>
							<a href="{% url 'anuncio_livro' anuncio.id %}"><h2>{{ anuncio.titulo }}</h2></a>
							<p>por {{ anuncio.autor }}</p>
							<div class="anuncio-avaliacao">
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<p>100 avaliações</p>
							</div>
							{% if anuncio.categoria != "T" %}
								<div class="anuncio-preco">
									<p>R$</p>
									<h2>{{ anuncio.preco }}</h2>
								</div>
							{% endif %}
						</div>
					{% endfor %}
				{% else %}
					<div class="anuncio">
						<p>Não há resultados para sua busca :(</p>
					</div>
				{% endif %}
			</div>
		</div>
	</div>

	<script type="text/javascript" src="{% static 'js/pesquisa.js' %}"></script>
{% endblock %}